appdirs==1.4.3
hupper==0.4.4
Jinja2==2.9.5
Mako==1.0.6
MarkupSafe==1.0
packaging==16.8
PasteDeploy==1.5.2
Pygments==2.2.0
pyparsing==2.2.0
pyramid==1.8.2
pyramid-debugtoolbar==3.0.5
pyramid-jinja2==2.7
pyramid-mako==1.0.2
repoze.lru==0.6
scaffold==0.0
six==1.10.0
tinydb==3.2.2
translationstring==1.3
venusian==1.0
waitress==1.0.2
WebOb==1.7.1
zope.deprecation==4.2.0
zope.interface==4.3.3
