{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Starter project</span></h1>
  <p class="lead">Welcome2 to <span class="font-normal">Pyramid Scaffold</span>, a&nbsp;Pyramid application generated&nbsp;by<br><span class="font-normal">Cookiecutter</span>.</p>
</div>

<ul>
  <li><a href="/hello">1. Sample Hello World example with form.</a></li>
  <li><a href="/submit">2. Parse request and get param and show same.</a></li>
</ul>
{% endblock content %}
